* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
  background-color: #1D1D1D;
  height: 100vh;
}

section h1{
  color: white;
  font-size: 36px;
  text-align: center;
  position: absolute;
  margin: 20px 0;
}

nav{
  position: absolute;
  height: 100%;
  width: 20%;
  display: flex;
  background: #2d2d2d;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

nav ul {
  position: relative;
  top: 25%;
}

nav ul li {
  padding: 15px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

nav ul li a {
  color: white;
}

nav ul li a:hover{
  color: orange;
}

#appBg {
  height: 480px;
  width: 300px;
  background-color: 155px solid black;
  border-radius: 5%;
  margin: 85px 0;
}

#appBg form {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

#appBg input[type=textfield] {
  height: 25%;
  width: 100%;
  cursor: default;
  font-family: 'Roboto, sans-serif';
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  text-align: right;
  font-size: 50px;
  border: 0;
  outline: none;
}

#appBg input[type=button], input[type=reset] {
  width: 22%;
  cursor: pointer;
  font-family: 'Roboto, sans-serif';
  font-weight: bold;
  font-size: 26px;
  color: black;
  padding: 18px;
  margin: 3px;
  border: 0;
  border-radius: 100%;
}

#appBg .orange {
  background-color: rgb(253, 149, 3) !important;
  color: white !important;
}

#appBg .gray {
  background-color: rgb(51, 51, 51) !important;
  color: white !important;
}